*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: "Raleway",sans-serif;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
}
.left{
    display:flex; 
    align-items: center;
}
ul{
    display:flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
}
.left_list{
    display: flex;
    margin-left:20px;
    align-items: center;
    font-size:13px;
}

.left_list img{
    height: 15px;
    margin-left:10px;
}
.left a{
    text-decoration: none;
    color:black;
    font-weight:700;
}
.left_list p:hover{
    color:rgb(230, 159, 6);
}
.left_list img:hover{
    color:rgb(230, 159, 6);
}
.leftimg{
    height: 20px;
    margin-left:10px;
    margin-top:3px;
}

.centerlogo img{
    margin-right:300px;
}

.right img{
    height: 25px;
}
.right{
    display: flex;
    justify-content: space-around;
    width:180px;
    margin-right:20px;
}
.on{
    display:none;
}
@media only screen and (max-width: 1100px){
    ul{
        display: none;
    }
    .centerlogo img{
        margin-right:0;
        margin-left:110px;

    }
    .on{
        display: flex;
        height: 20px;
        margin-left:40px;
        margin-bottom: 3px;
    }

  
  
}
.side-bar{
    position: absolute;
    top:0px;
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    transform: translateX(-280px);
    transition: 0.8s ease-in-out;
    z-index: 1;
    border-right: 1px solid rgb(202, 194, 194);;
   
   
}
.side_items{
    padding: 20px 10px;
    border-bottom: 1px solid rgb(202, 194, 194);
}
 .side_items a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color:black;
    font-weight:700;
}
.side_items a:hover{
    color: #e97e3d;
   
}
.side_items a img{
    width: 20px;
    height:20px;

}
.close{
    padding: 10px 20px;
    font-size: 1.5rem;
    text-align:right;
    font-weight: bolder;
    border: none;
}
.blur{
    filter: blur(0px);
}

.fadeIn{
    transform:translateX(0px);
}
.homeBlog{
    display:flex;
    height:80px;
    background-color: rgba(240, 239, 239, 0.993);
    padding: 30px 20px;
}
a{
    text-decoration: none;
    color:black;
    font-weight:400;
}
.latest{
    margin-top: 30px;
}
.blogBox{
    display: flex;
   justify-content: space-evenly;
    width:fit-content;
    height:fit-content;
    margin-top:30px;
    align-items: center;
}
.blogchild{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.box1,.box3,.box5{
    width:35vw;
    height:80vh; 
    border-style: solid;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.45);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:10px;

}
.box2,.box4,.box6{
    width:35vw;
    height:80vh;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(207, 207, 207);
    box-shadow: 0px 0px 30px -6px rgba(0,0,0,0.45);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:10px;

}
.blogBox img{
    width:35vw;
    height:45vh;
}
.blogBox h1{
    color:black;
    padding:10px;
}
.blogBox p{
    color:rgb(136, 124, 124);
    padding:10px;
    font-size:15px;
    font-weight: 400;
    font-style: "Roboto";
}
.readmore{
   
    display: flex;
    justify-content:space-between;
    width:100%;
    align-items: center;
    padding: 10px;
   
}
#date{
    color:rgb(230, 159, 6);
    font-size:30px;
    font-weight: 600;

}
#readmore{
   border-bottom: 2px solid black;    
   
}
.mainBox{
    display: flex;
    align-self:center;
    justify-content: space-evenly;
    height: fit-content;
}
.sidebox{
    display: flex;
    flex-direction: column;
    width:23vw;

}
#home{
    margin-bottom: 30px;
    font-size:20px;
    border-bottom: 1px solid  rgb(207, 207, 207);
    padding:10px;
}
.homebox{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:30px;
    height:100px;
}
.homebox p:hover{
    color:rgb(230, 159, 6);
}
.blogC{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:100px;
    margin-bottom: 25px;
}
.sideblog1{
    height:120px;
    display: flex;
    justify-content: space-evenly;
    font-size:7px;
    border-bottom: 1px solid  rgb(207, 207, 207);
    margin-top:20px;
}
.sideblog1 img{
    width:8vw;
    height:80px;
    margin-right: 10px;
}
#home1{
    margin-bottom: 10px;
    font-size:20px;
    border-bottom: 1px solid  rgb(207, 207, 207);
    padding:10px;
}
.getintouch{
    display: flex;
    width:95vw;
    height:20vh;
    background-color:black;
    margin:auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    margin-bottom:10px;
}
.input{
    padding: 15px 3vw;
    outline: none;
    border: 1px solid white;
    background-color:rgb(32, 31, 31) ;
    color:rgb(255, 255, 255);
    font-weight: 400;
}
button{
    width:10vw;
    height: 7.3vh;
    font-weight: 600;
    transition: 0.3s ease-in;

}
button:hover{
    background-color: #e97e3d;
    color: white;
    outline:none;
    border:none;
}
input::placeholder{
    color:rgb(253, 151, 151);
}
@media only screen and (max-width: 900px){
    .centerlogo{
        margin-bottom:50px;
        margin-left:0px;
    }
    .mainBox{
        flex-direction: column;
        align-items: center;
        
    }
    .blogBox{
        flex-direction: column;
        
    }
    .box1,.box2,.box3,.box4,.box5,.box6{
        width: 450px;
    }
    .blogBox img{
        width: 450px;

    }
    .getintouch{
        flex-direction: column;
    }
    .sideblog{
        
    }

}

@media  (max-width: 450px){
    .centerlogo{
        margin-left:-10vw;
    }
    .right{
        margin-right:10vw;
    }
    .homeBlog{
        display: none;
    }
    .latest{
        font-size: 20px;
        margin-left:30px;
    }
    .mainBox{
        flex-direction: column;
    }
    .blogBox{
        flex-direction: column;
    }
    .box1,.box2,.box3,.box4,.box5,.box6{
        width:100vw;
        height:60vh;
        margin-bottom:5vh;
       
    }
    .blogBox img{
        width:100vw;
        height:30vh;
    }
    .blogBox p{
        width:90%;
    }
    .readmore{
        width:100vw;
        
    }
    #date{
        margin-left:5vw;
        font-size:15px;
    }
    #readmore{
        font-size:10px;
        border-bottom: none;
        margin-right:10vw;
    }
    .sidebox{
        width:100vw;
    }
    .homebox p{
        margin-left:10vw;
    }
    #home{
        margin:auto;
    }
    .blogC{
        width:100vw;  
    }
    .blogC p{
        margin-left:20vw;
    }
    .sideblog1 h1{
        width:90%;
    }
    .sideblog1 img{
        width:35vw;
    }
    .getintouch{
        flex-direction: column;
        width:fit-content;
        margin:0px auto;
    }
    .touch h1{
        font-size:25px;
        text-align: center;
    }
    .touch p{
        font-size:12px;
    }
    .input{
        width:60vw;
    }
    button{
        width:24vw;
        height:7vh;
    }

}